services:
  postgres:
    image: postgres:16
    container_name: prospera-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: prospera_wallet
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
